
.form-inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-input {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.form-link {
    margin-top: 0.5em;
}

.all-polls {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.remove-poll {
    margin-top: -1.3em;
    margin-bottom: 1em;
    display: flex;   
    align-items: center;
    flex-direction: column;
    
}