{% extends "polls/base.html" %}



{% block title %}
    Home
{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="form-inputs">
        <h1>Create a poll that anyone can vote in!</h1>
        <h3>What would you like to poll?</h3>
        <h5>Fields with a * are required</h5>
        <div class="form-input">
            <input type="text" maxlength="255" name="question" placeholder="Question *" />
        </div>

        <div class="form-input">
            <input type="text" maxlength="200" name="option_one" placeholder="Option 1 *" />
        </div>

        <div class="form-input">
            <input type="text" maxlength="200" name="option_two" placeholder="Option 2 *" />
        </div>
        
        <div class="form-input">
            <input type="text" maxlength="200" name="option_three" placeholder="Option 3 *" />
        </div>

        <button type="submit">Create poll</button>
        <div><p>Your poll will have a unique ID and users can search for polls by their ID.
            Anyone can vote in your poll with this ID so keep it secret from the public
        </p></div>
    </div>
    
</form>

{% endblock %}