{% extends "polls/base.html" %}

{% block title %}
    Polls
{% endblock %}
    
{% block content %}

<div class="all-polls">
    {% csrf_token %}
    {% for poll in polls %}
    <li class="poll-list" style="list-style-type: none;">

       <h4>

        {{ poll.question }} 
        
        <a href="{% url 'vote' poll.id %}">Vote</a><br/>

        </h4>
        <div class="remove-poll">
            {% if request.user == poll.user %}
            <a href="{% url 'remove-poll' poll.id %}">Remove poll</a>
            {% endif %}
        </div>
       

       
    </li>
    {% endfor %}
</div>

{% endblock %}



