{% extends "polls/base.html" %}

{% block title %}
    create a poll
{% endblock %}
    
{% block content %}

<div class="all-polls">
    {% for poll in polls %}
    <li class="poll-list" style="list-style-type: none;">

       <h4>

        {{ poll.question }} 
        
        <a href="{% url 'vote' poll.id %}">Vote</a><br/>
        {% if request.user == poll.user %}
        <a href="{% url 'remove-poll' poll.id %}">Remove poll</a>
        {% endif %}
        </h4>
       

       
    </li>
    {% endfor %}
</div>

{% endblock %}



